services:
  backend:
    build:
      context: ./backend
    restart: unless-stopped
    ports:
      - "3000:80"
    environment:
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    volumes:
      - ./backend/storage:/rails/storage
  frontend:
    build:
      context: ./frontend
      args:
        VITE_RAILS_API_URL: ${VITE_RAILS_API_URL}
    restart: unless-stopped
    ports:
      - "8080:80"
    depends_on:
      - backend
