services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:80"
    environment:
      RAILS_MASTER_KEY: ${RAILS_MASTER_KEY}
    volumes:
      - backend_storage:/rails/storage
  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  backend_storage:
